.navbar {
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.container {
  padding-bottom: 50px;
}

.nav-link {
    cursor: pointer;
}

.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
