<div class="row">
  <!-- Sidebar de Categorías -->
  <div class="col-md-3">
    <div class="list-group shadow-sm">
      <h5 class="list-group-item list-group-item-dark border-0 py-3">Categorías</h5>
      <button
        class="list-group-item list-group-item-action"
        [class.active]="selectedCategoryId === null"
        (click)="filterByCategory(null)"
      >
        Todas las prendas
      </button>

      @for (cat of categories; track cat.id) {
        <button
          class="list-group-item list-gCamiseta Básica Blancaroup-item-action"
          [class.active]="selectedCategoryId === cat.id"
          (click)="filterByCategory(cat.id)"
        >
          {{ cat.nombre }}
        </button>
      }
    </div>
  </div>

  <!-- Galería de Productos -->
  <div class="col-md-9">
    @if (loading) {
      <div class="text-center mt-5">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"></div>
        <p class="mt-3 text-muted">Cargando colección TechNova...</p>
      </div>
    } @else {
      @if (products.length === 0) {
        <div class="alert alert-info shadow-sm">
          No hay productos disponibles en esta categoría actualmente.
        </div>
      } @else {
        <div class="row row-cols-1 row-cols-md-3 g-4">
          @for (product of products; track product.id) {
            <div class="col">
              <div class="card h-100 product-card border-0 shadow-sm">
                <img
                  [src]="product.imagenUrl || 'https://via.placeholder.com/300x400?text=TechNova+Ropa'"
                  class="card-img-top"
                  [alt]="product.nombre"
                >
                <div class="card-body">
                  <h5 class="card-title text-dark">{{ product.nombre }}</h5>
                  <p class="card-text text-muted small">{{ product.categoria.nombre }} • Talla: {{ product.talla }}</p>
                  <p class="card-text text-primary fw-bold fs-4">{{ product.precio | currency }}</p>
                </div>
                <div class="card-footer bg-transparent border-0 pb-3">
                   <button class="btn btn-primary w-100 py-2">Agregar al Carrito</button>
                </div>
              </div>
            </div>
          }
        </div>
      }
    }
  </div>
</div>
